html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 120px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.table td, .table th {
    vertical-align: middle !important;
}
td img {
    width: 22px;
    margin-right: 10px;
}
#service-form .radio,
#service-update .radio {
    display: inline-block ;
}
.radio:not(:first-child) {
    margin-left: 10px;
}
#thead th:last-child {
    text-align: center;
    white-space: nowrap;
}
#tbody td:first-child {
    display: table-cell;
}
#tbody tr:first-child td:last-child {
    margin-top: -1px;
}
.empty-list {
    font-size: 18px;
    padding-top: 15px;
    text-align: center;
    max-width: 571px;
    margin: 0 auto;
}
#secret-form {
    margin-bottom: 20px;
}
.column-1 {
    width: 40px
}
.column-2 {
    width: 150px;
}
.column-3 {
    width: 200px;
}
.column-4 {
    width: 1px;
}
.table {
    width: unset;
    max-width: unset;
    margin: 0 auto;
}

#tbody td:last-child a {
    margin: 0 8px;
}
#tbody td:last-child {
    white-space: nowrap;
}
.toolbar {
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    background: #34495e;
    text-align: right;
}

.toolbar a {
    color: #f9f9f9;
    font-size: 14px;
    padding: 2px 10px;
    display: inline-block;
    border: 1px solid #e1e8ef;
    margin: 10px 0 10px 15px;
    text-decoration: none;
    cursor: pointer;
}
.toolbar a:hover, .toolbar a:active {
    background: #2c3e50;
}
.info {
    background: #d9edf7 !important;
}
.success {
    background: #dff0d8 !important;
}
.pt-70 {
    padding-top: 70px !important;
}
.modal-body p.help-block.help-block-error {
    display: none;
}
.modal-body .has-error .col-sm-6 {
    position: relative;
}
.modal-body .has-error .col-sm-6:before {
    position: absolute;
    right: 25px;
    top: 0;
    content: '!';
    font-weight: 900;
    color: #a94442;
    font-size: 24px;
    line-height: 30px;
}
#create-new-record {
    background: #27ae60;
    border-color: #2ecc71;
    color: #f9f9f9;
}
#create-new-record:hover, #create-new-record:active {
    background: #19a353;
}